@supports (font-variation-settings: initial) {
  @font-face {
    font-display: block;
    font-family: "AdapterMonoVF";
    font-weight: 100 900;
    font-style: normal;
    src: url("/resources/AdapterMono/AdapterMonoPEVF-All.woff2") format("woff2");
  }
  /* SkolarPE */
  @font-face {
    font-display: block;
    font-family: "SkolarPE";
    font-style: normal;
    font-weight: normal;
    src: url("/resources/Skolar/SkolarPE-Regular.ttf") format(truetype);
  }
  @font-face {
    font-display: block;
    font-family: "SkolarPE";
    font-style: italic;
    font-weight: normal;
    src: url("/resources/Skolar/SkolarPE-Italic.ttf") format(truetype);
  }
  @font-face {
    font-display: block;
    font-family: "SkolarPE";
    font-style: bold;
    font-weight: bold;
    src: url("/resources/Skolar/SkolarPE-Bold.ttf") format(truetype);
  }
  @font-face {
    font-display: block;
    font-family: "SkolarPE";
    font-style: italic;
    font-weight: bold;
    src: url("/resources/Skolar/SkolarPE-BoldItalic.ttf") format(truetype);
  }
  /* SkolarSansPE */
  @font-face {
    font-display: block;
    font-family: "SkolarSansPE";
    font-style: normal;
    font-weight: normal;
    src: url("/resources/SkolarSans/SkolarSansPE-Regular.ttf") format(truetype);
  }
  @font-face {
    font-display: block;
    font-family: "SkolarSansPE";
    font-style: italic;
    font-weight: normal;
    src: url("/resources/SkolarSans/SkolarSansPE-Italic.ttf") format(truetype);
  }
  @font-face {
    font-display: block;
    font-family: "SkolarSansPE";
    font-style: bold;
    font-weight: bold;
    src: url("/resources/SkolarSans/SkolarSansPE-Bold.ttf") format(truetype);
  }
  @font-face {
    font-display: block;
    font-family: "SkolarSansPE";
    font-style: italic;
    font-weight: bold;
    src: url("/resources/SkolarSans/SkolarSansPE-BoldItalic.ttf") format(truetype);
  }
}

:root {
  /* --link-color: rgb(120, 0, 13);
  --light-link-color: rgba(245, 235, 235, 1);
  --border: rgba(245, 205, 235); */
  /* Alternate colours */
  --link-color: rgb(8, 57, 115);
  --light-link-color: rgba(228, 237, 255, 0.65);
  --border: rgb(255, 242, 102);
  /* Background */
  --background: rgb(250, 249, 245);
}
  
/* General */
    
html {
  background: var(--background);
  border: 2px solid var(--border);
}
  
body, li, p, h1, h2, h3, h4, h5 {
  color: #111;
  font-family: AdapterMonoVF, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
  
section {
  width: 1000px;
  padding: 5em 10% 5em 10%;
}

h1, h2, h3, h4 {
  font-family: AdapterMonoVF;
  font-weight: bold;
}
  
h1 {
  font-family: AdapterMonoVF;
  font-variation-settings: "ital" 1, "slnt" -10, "wght" 600;
  font-size: 2em;
  margin: 1.2em 0 0.5em;
}
  
h2 {
  font-size: 1.2em;
  margin: 1.5em 0 0.5em;
}
  
p {
  margin: 1em 0;
  max-width: 1000px;
}
  
p.intro { 
  font-family: AdapterMonoVF;
  font-size: 32px;
  /* font-style: italic; */
  font-variation-settings: "ital" 1, "slnt" -10, "wght" 600;
  font-feature-settings: "ss07" on;
  line-height: 144%;
}
  
strong {
  font-weight: 500;
}
  
em {
  /* font-style: italic; */
  font-family: AdapterMonoVF;
  font-variation-settings: "ital" 1, "slnt" -13, "wght" 400;
  font-feature-settings: "ss07" on;
}
  
ul {
  padding-left: 0;
}
  
a {
  font-family: AdapterMonoVF;
  /* font-size: 90%; */
  color: var(--link-color);
  text-decoration: none;
  background-color: var(--light-link-color);
  border-radius: 5px;
  padding: 0.05em 0.2em;
  line-height: 100%; /* keeps the line height the same */
}

a:hover {
  text-decoration: underline;
  /* font-size: 115%; */
}
  
.hide {
  display: none;
}
  
/* Responsive */
  
@media (max-width: 1150px) {
  section {
    width: 88%;
    padding: 1em 7% 3em 5%;
  }

  body, li, h1, h2, h3, h4, h5 {
    font-size: 20px;
  }

  p, p.intro {
    font-size: 20px;
  }
}
  
@media (max-width: 800px) {
  section {
    width: 90%;
    padding: 1em 5% 3em 5%;
    .tab button.active {
      font-size: 1em;
    }
  }

  body, li, p, p.intro, h1, h2, h3, h4, h5 {
    font-size: 14px;
  }

  p.intro {
    font-variation-settings: "ital" 1, "slnt" -10, "wght" 700;
  }
}

/* Tabs */

/* Style the buttons that are used to open the tab content */
.tab button {
  color: var(--link-color);
  background-color: var(--light-link-color);
  font-family: AdapterMonoVF, serif;
  font-weight: 400;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0px 0px;
  transition: 400ms;
  border-radius: 5px;
  padding: 0.05em 0.2em;
  cursor: pointer;
  line-height: 1em;
  margin-left: -0.21em;
  margin-right: 7px;
  transition: all 300ms;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline;
  /* font-size: 115%; */
}

/* Create an active/current tablink class */
.tab button.active {
  font-family: AdapterMonoVF, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  background-color: var(--light-link-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
}



/* Cyclic HELLO messsage */
.subhead {
  display: flex;
}
.cyclic {
  display: inline-grid;
  font-size: 1.5em;
  background: var(--border);
  padding: 0 7px;
  border-radius: 10px;
  margin-left: -7px;
  line-height: 110%;
  font-feature-settings: "ss07" on;
}

/* .text-container {
  display: flex;
}

.text {
  display: inline-grid;
  font-size: 1.5em; 
  background: var(--border);
  padding: 0 7px;
  border-radius: 10px;
  margin-left: -7px;
  line-height: 110%;
  font-feature-settings: "ss07" on;
}
.text::after {
  display: block;
  content: "Hello!";
  animation: cycle 30s infinite;
}


#cycle:after {
  font-family: AdapterMonoVF;
  font-size: 1em;
  animation-name: cycle;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  content: "";
  display: inline-grid;
  padding: 0 7px;
  border-radius: 10px;
  margin-left: -7px;
  line-height: 110%;
  background: var(--border);

  transition-timing-function: ease;
  transition: all 300ms;
}
*/

@keyframes cycle {
  0% {
    content: "Hello!"; /* English */ 
  }
  5% {
    content: "Hello!"; /* English */ 
  }
  10% {
    content: "Guten Tag!"; /* German */
  }
  15% {
    content: "Olá!"; /* Portuguese */
  }
  20% {
    content: "Xin chào!"; /* Vietnamese */
  }
  25% {
    content: "!مرحبًا"; /* Arabic */
  }
  30% {
    content: "Kaixo!"; /* Basque */
  }
  35% {
    content: "Cześć!"; /* Polish */
  }
  40% {
    content: "নমস্কার!"; /* Bengali */
  }
  45% {
    content: "ሰላም!"; /* Amharic */
  }
  50% {
    content: "Zdravo!"; /* Serbian */
  }
  55% {
    content: "Sannu!"; /* Hausa */
  }
  60% {
    content: "こんにちは!"; /* Japanese */
  }
  65% {
    content: "Ndewo!"; /* Igbo */
  }
  70% {
    content: "Kia ora!"; /* Maori */
  }
  75% {
    content: "Muraho!"; /* Kinyarwanda */
  }
  80% {
    content: "Вітаю!"; /* Ukrainian */
  }
  85% {
    content: "Hei!"; /* Finnish */
  }
  90% {
    content: "Γειά σου!"; /* Greek */
  }
  95% {
    content: "Manao ahoana!"; /* Malagasy */
  }
  100% {
    content: "Halo!"; /* Indonesian */
  }
}